/* Color Palette - Typography */
:root {
    /*  Color Palette */
    --white: #ffffff;
    --black: #171717;
    --gray: #f2f2f2;
    --lightgray: #f8f8f8;
    --Lavender: 	#c493ff;

    /*  Typography */
    --En-font: 'Poppins', sans-serif;
    --Ar-font: 'Cairo', sans-serif;
    --textsize-large: clamp(1.125rem, 2vw, 1.5rem);
    --textsize-medium: clamp(1rem, 1.5vw, 1.25rem);
    --textsize-regular: 1rem;
    --textsize-small: 0.875rem;
    --textsize-tiny: 0.75rem;
}

/* Heading Text */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    color: var(--black);
    line-height: 1.2;
}

h4 ,h5 ,h6 { line-height: 1.4;  font-weight: 500;}
h1 { font-size: clamp(2rem, 8vw, 4rem); }
h2 { font-size: clamp(1.5rem, 6vw, 3rem); }
h3 { font-size: clamp(1.3rem, 5vw, 2.5rem); }
h4 { font-size: clamp(1.25rem, 4vw, 2rem); }
h5 { font-size: clamp(1.25rem, 3vw, 1.5rem); }
h6 { font-size: clamp(0.875rem, 2vw, 1.25rem); }

/* General Settings */
* {
    box-sizing: border-box;
    font-family: var(--En-font);
    background-color: transparent;
}

body {
    padding: 0 5%;
}

/* Links&Lists */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utility Class */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rounded-black {
    border: 1px solid var(--black);
    border-radius: 100rem; 
}
.rounded-none {
    border: none;
    border-radius: 100rem; 
}


/* Tags */
.tag {
    background-color: var(--Lavender); 
    color: var(--black);
    display: inline-block;
    font-size: var(--textsize-small);
}

.text-tag {
    padding: 0.35rem 0.75rem;
    font-weight: 400;
}

.tool-tag {
    padding: 0.25rem 0.75rem;
    font-weight: 700;
}

/* Buttons */
.button {
    cursor: pointer;
    padding: clamp(0.5rem, 2vw, 0.75rem) clamp(1rem, 3vw, 1.25rem);
    font-size: clamp(var(--textsize-tiny), 2vw, var(--textsize-small));
}

.button-primary {
    background-color: var(--black);
    color: var(--white);
}

.button-secondary {
    background-color: transparent;
    color: var(--black);
}

/* Buttons Hover */
.button-primary:hover{
    color: var(--Lavender);
}

.button-secondary:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Button Link */
.button-link {
    color: var(--black);
    padding: 0.25rem 0;
    font-size: var(--textsize-regular);

    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.button-link:hover {
    color: var(--Lavender);
}