/* Font Family */
/* --- Poppins Font Family --- */
/* Regular */
@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Bold */
@font-face {
    font-family: 'Poppins';
    src: url('./../Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* Light */
@font-face {
    font-family: 'Poppins';
    src: url('./../Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* --- Cairo Font Family --- */
/* Regular */
@font-face {
    font-family: 'Cairo';
    src: url('./../Fonts/Cairo/Cairo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Bold */
@font-face {
    font-family: 'Cairo';
    src: url('./../Fonts/Cairo/Cairo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Light */
@font-face {
    font-family: 'Cairo';
    src: url('./../Fonts/Cairo/Cairo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Color Palette - Typography */
:root {
    /*  Color Palette */
    --white: #ffffff;
    --black: #171717;
    --gray: #f2f2f2;
    --lightgray: #f8f8f8;
    --Lavender: 	#c493ff;

    /*  Typography */
    --En-font: 'Poppins', sans-serif;
    --Ar-font: 'Cairo', sans-serif;
    --textsize-large: clamp(1.125rem, 2vw, 1.5rem);
    --textsize-medium: clamp(1rem, 1.5vw, 1.25rem);
    --textsize-regular: 1rem;
    --textsize-small: 0.875rem;
    --textsize-tiny: 0.75rem;
}

/* Heading Text */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    color: var(--black);
    line-height: 1.2;
}

h4 ,h5 ,h6 { line-height: 1.4;  font-weight: 500;}
h1 { font-size: clamp(2rem, 8vw, 4rem); }
h2 { font-size: clamp(1.5rem, 6vw, 3rem); }
h3 { font-size: clamp(1.3rem, 5vw, 2.5rem); }
h4 { font-size: clamp(1.25rem, 4vw, 2rem); }
h5 { font-size: clamp(1rem, 3vw, 1.5rem); }
h6 { font-size: clamp(0.875rem, 2vw, 1.25rem); }

/* General Settings */
* {
    box-sizing: border-box;
    background-color: transparent;
}

body {
    padding: 0 5%;
    color: var(--black);
    font-family: var(--En-font);
}

/* Section */
section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Links&Lists */
a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

/* Utility Class */
.flex-column {
    display: flex;
    flex-direction: column;
}

.rounded-black {
    border: 1px solid var(--black);
    border-radius: 100rem; 
}

.rounded-none {
    border: none;
    border-radius: 100rem; 
}

.rounded-corner {
    border-radius: 2rem; 
}
.rounded-corner-black {
    border-radius: 3rem; 
    border: 1px solid var(--black);
}

/* Tags */
.tag {
    background-color: var(--Lavender); 
    color: var(--black);
    display: inline-block;
    font-size: var(--textsize-small);
}

.text-tag {
    padding: 0.3rem 0.75rem;
    font-weight: 400;
}

.tool-tag {
    padding: 0.25rem 0.75rem;
    font-weight: 700;
}

/* Buttons */
.button {
    cursor: pointer;
    padding: clamp(0.5rem, 1vw, 0.75rem) clamp(1rem, 3vw, 1.25rem);
    font-size: clamp(var(--textsize-tiny), 2vw, var(--textsize-small));
}

.button-primary {
    background-color: var(--black);
    color: var(--white);
}

.button-secondary {
    background-color: transparent;
    color: var(--black);
}

/* Buttons Hover */
.button-primary:hover{
    color: var(--Lavender);
}

.button-secondary:hover {
    background-color: var(--black);
    color: var(--white);
}

/* Button Link */
.button-link {
    color: var(--black);
    padding: 0.25rem 0;
    font-size: var(--textsize-regular);

    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.button-link:hover {
    color: var(--Lavender);
}

/* Accordion-icon */
.accordion-icon svg {
    color: var(--white);
    background-color: var(--Lavender);
}
.accordion-icon svg:hover {
    transition: 0.3s;
    transform: rotate(90deg);
}

/* Social Links */
.social-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--black);
    font-size: var(--textsize-small);
    margin-bottom: 0.5rem;
}

.social-link svg {
    color: var(--Lavender);
    width: 2rem;
    height: 2rem;
    display: block;
    background-color: var(--black);
    border-radius: 100rem;
    padding: 0.2rem;
}

.social-link:hover {
    filter: brightness(1.5);
}

/* navigation */
nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 5%;
    width: 100%;
    align-items: center;
    background: rgba(248, 248, 248, 0.75);
    backdrop-filter: blur(12px);
    padding: 0.5rem 0.5rem;
}

.nav-logo {
    width: 8.8rem;
    display: block;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    padding: 0.5rem 0.75rem;
    font-size: var(--textsize-small);
}

.nav-link:hover {
    background-color: var(--Lavender);
}

#nav-button{padding-left: 1.5rem;}

/* Hamburger Menu */
.ham-menu {
    display: none;
}

@media (max-width: 768px) {
    .ham-menu {
        display: block;
        
    }
    .nav-left {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--lightgray);
        padding: 2rem 0;
        border-radius: 2rem;
        top: -500%;
        gap: 1rem;
        transition: 0.6s;
    }
    .nav-link {font-size: var(--textsize-medium);}
    .nav-left.active{ top: 100%;}

}

/* Hero Section */
.hero, .hero-head{
    align-items: center;
    max-width: 65rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    gap: 1.5rem;
}

.hero-text {
    margin-bottom: 2rem;
}

.hero-img {
    max-width: 100%;
    border-radius: 2rem;
}

/* Logos Section */
.logo-componant {
    align-items: center; 
    gap: 3rem;
}  

.logos-icons {
    display: flex;
    gap: clamp(1rem, 5vw, 6rem);
}

.tool-logo {
    height: clamp(2rem, 3vw, 3rem);
    width: auto;
    opacity: 0.6;
    filter: grayscale(30%);
}

.tool-logo:hover {
    opacity: 1;
    filter: grayscale(0%);
}


/* Services Section */
.services {
    background-color: var(--lightgray);
    padding: 6rem 2rem;
}

.service-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.services-head {
    gap: 0.5rem;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.service-cards-container {
    gap: 1rem;
}

.service-card-name {
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.service-description  {
    font-size: var(--textsize-large); 
    margin: 0;
}

.service-card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
}

.service-description {
    font-size: var(--textsize-medium);
}

.service-img {
    aspect-ratio: 15/9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.service-card-content {
    align-items: flex-start; 
    gap: clamp(0.5rem, 2vw, 1.5rem);  
    padding: 1.5rem;
}

@media (max-width: 900px) {
    .service-card-body, .service-card-body.active {
        grid-template-columns:1fr;
    }
}

/* Projects */
.projects-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.project-head-left {
    gap: 1rem;
    align-items: flex-start; 
    margin-bottom: 1rem;
}

.project-head-text {
    font-size: var(--textsize-medium);
}

.project-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-card {
    padding: 1rem; 
    background-color: var(--lightgray);
}

.project-card:hover {
    border: 1px solid var(--black);
}

.project-link {
    justify-content: right;
}

.project-img {
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
}

.project-description {
    padding: 1.25rem 1rem;
}

@media (max-width: 900px) {
    .project-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 568px) {
    .project-cards-container {
        grid-template-columns: 1fr;
        gap: 2rem;

    }
}

/* Development Process section */
.process{
    background-color: var(--lightgray);
    border-radius: 2rem;
    gap: 2rem;
}

.process-head, .process-container, .process-contact {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
} 

.process-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

}

.process-container {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1rem;
}

.process-card {
    border: 1px solid var(--black);
}

.process-card-head {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    align-items: center;
}


.process-card-body {
    padding: 0 1.5rem 1rem 1.5rem;
}

.process-contact {
    background-color: var(--Lavender);
    align-items: center;
    text-align: center;
    padding: clamp(1rem, 4vw, 3rem)  4rem;
}

/* Accordion for poth process / service */
.process-card-body, .service-card-body{
    display: none;
}

.process-card-body.active, .service-card-body.active {
    display: grid;
}

.process-card:hover, .service-card:hover {
    cursor: pointer;
}

.process-card:has(.process-card-body.active) .accordion-icon svg,
.service-card:has(.service-card-body.active) .accordion-icon svg {
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 0.60fr 1fr; 
    justify-content: end;
    margin-top: 6rem;
}

.footer-left {
    display: grid;
    grid-template-columns: repeat(3, max-content); 
    gap: clamp(1.5rem, 5vw, 7.5rem);
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link, .footer-heading{
    color: var(--black);
    padding: 0.5rem 0.75rem;
    border-radius: 100rem;
}

.footer-heading {
    margin-bottom: 1rem;}

.footer-link:hover {
    background-color: var(--Lavender);
}

.footer-right {
    gap: 1.5rem;
}

.footer-logo{
    width: 7.5rem;
    display: block;
}

.footer-newsletter {
    background-color: var(--Lavender);
    padding: 1.5rem;
    gap: .5rem;
}

.footer-form {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: clamp(0.5rem, 2vw, 1rem);
}

.footer-input {
    border: none;
    background-color: var(--gray);
    border-radius: 100rem;
    padding: 0.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer-input:focus {
    outline: 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
}

.footer-text, .footer-link {
    font-size: var(--textsize-tiny);
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        gap: 2.5rem; 
    }
    .footer-left {
        justify-content: space-around;
        gap:  clamp(0.5rem, 2vw, 2rem);
        
    }
}

@media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);

    .footer-form {
        grid-template-columns: 1fr;
    }
}

#end p { display: inline-block; } 
#end p:last-child { position: absolute; right: 5% }
